<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SocialPlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SocialPlugin.Properties.Settings>
            <setting name="plgnSocial_Slack_SlackService" serializeAs="String">
                <value>http://www.microarea.it/PAASUpdates/SlackService.asmx</value>
            </setting>
        </SocialPlugin.Properties.Settings>
    </applicationSettings>
</configuration>