<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLLOCATION">
            <Component Id="cmpD3152F19D34BA7C70190D15EEFDA3024" Guid="E8510F0E-386A-48FF-8123-D5611A63F943">
                <File Id="fil0C27833B1602F80F2FA903E33F7FDD26" KeyPath="yes" Source="$(var.M4BSourceDir)\AutoMapper.dll" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmp50E11A5A68F2382207442BFC58CFE7C6" Guid="4A7BF789-F443-47E4-BC2E-948FF098E660">
                <File Id="fil94CDF9510AE961FB6E332896CD6ABAC1" KeyPath="yes" Source="$(var.M4BSourceDir)\Colorful.Console.dll" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmp8F5C2F900AC5532E3BF07B6514F520B1" Guid="70D28103-BE9C-431F-BB91-C5B7347CC2B8">
                <File Id="filCE360A9C65C2C091E7F1C6E751E4D071" KeyPath="yes" Source="$(var.M4BSourceDir)\DocumentFormat.OpenXml.dll" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmp9911AF95ADC7A148BBB5C669B4DAC3E2" Guid="540408DA-93E7-456F-8128-A5AE9F7DF541">
                <File Id="fil4989BCCFFA6A868905A1A3636E55B13D" KeyPath="yes" Source="$(var.M4BSourceDir)\Fleck.dll" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmp763CAB7A6D037F9280A15E3D4DC7C156" Guid="0D9A3358-23ED-4EEB-BB2C-4F9C7AD324E2">
                <File Id="filEA292C3400BD1DC19F94FA65B2059BCB" KeyPath="yes" Source="$(var.M4BSourceDir)\ICSharpCode.NRefactory.dll" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmpE5C01B5677C30D575CC15B4B558A57E0" Guid="FFCA487A-DFEA-43D4-BD9C-66D3791F1265">
                <File Id="filD17F9AFAC4DF3D7A44817DFBA8510C1A" KeyPath="yes" Source="$(var.M4BSourceDir)\log4net.dll" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmp626C37DEC83FABEE8B9B7EA4A04B4F5A" Guid="B525B981-ACBE-48E4-8FF1-3E72BA84F2F4">
                <File Id="fil728B67FAB1E67E68DC712216B11F40C3" KeyPath="yes" Source="$(var.M4BSourceDir)\Mago4Butler.BL.dll" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmp390026EB15EE0696EB37503F4A399A76" Guid="D8CB3D2B-D4B7-4171-80D6-1C4CD95A9280">
                <File Id="filB779D55293480C349EF5D6ACAFBEA873" KeyPath="yes" Source="$(var.M4BSourceDir)\Mago4Butler.exe" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmpFF7A3CDB5B7BE431942B830AD2C44562" Guid="216AB722-5AB0-42AB-94B0-37F630DE472D">
                <File Id="fil82E2871515F7998D3B5FB853063755EA" KeyPath="yes" Source="$(var.M4BSourceDir)\Mago4Butler.exe.config" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmpD6888565DF77E6A16BDC8A36671C67B7" Guid="53925B60-95F6-4DFA-B849-678FF440105E">
                <File Id="fil7C9B22C18B2360BD2207F9F2D3FF4FBA" KeyPath="yes" Source="$(var.M4BSourceDir)\Mago4Butler.Plugins.dll" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmp8B516EF1CA553709E2F2B4E287CBB338" Guid="1B4BA8AE-3C96-4211-9C02-540FB3B1AB96">
                <File Id="filEA0B512CDB70803B6C6BAC92F16C7ABF" KeyPath="yes" Source="$(var.M4BSourceDir)\Microarea.TaskBuilderNet.Core.dll" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmpE85F25892E4D40F52D00BE228C007591" Guid="5C7B2A44-704A-4A66-AA16-0BA7922A2301">
                <File Id="fil023740DB2CB4D266A6A78010903112D6" KeyPath="yes" Source="$(var.M4BSourceDir)\Microarea.TaskBuilderNet.Core.XmlSerializers.dll" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmp25B2D667AC87066E928EE3A03F5C5063" Guid="BD75941D-3F50-433F-BF90-D9B0C503F5C7">
                <File Id="filFF8C6E1E6E4CE1DDE16B974F540CCA12" KeyPath="yes" Source="$(var.M4BSourceDir)\Microarea.TaskBuilderNet.Data.dll" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmp8DB66F73A027CE8DE9603897B52D54C0" Guid="F14681AB-8C07-44A2-9291-E982F1E22F0B">
                <File Id="filC40625A077A4F9C4E003071C54304359" KeyPath="yes" Source="$(var.M4BSourceDir)\Microarea.TaskBuilderNet.Interfaces.dll" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmpCC3CF2ADC9DD78B7009DAD5F9F4754C8" Guid="3B5F03B1-816A-404B-9C8E-9F0EDEA7E222">
                <File Id="fil17F1FD38431B5ABF7ACE85A3059FB2FB" KeyPath="yes" Source="$(var.M4BSourceDir)\Microsoft.Web.Administration.dll" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmp218F58E796F34D9FD362466EA14E66F7" Guid="3B74F55D-C051-4490-92ED-D13B7F8F1F05">
                <File Id="filE5AE4B6502043B9992586FFCCBD76260" KeyPath="yes" Source="$(var.M4BSourceDir)\Mono.Security.dll" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmpE48528C4F5932A4EFD89F7331108F45D" Guid="4BA55554-47D1-4182-8C74-EA6611652479">
                <File Id="filF1B84C2C6BCC693224B7A7959445B74F" KeyPath="yes" Source="$(var.M4BSourceDir)\Newtonsoft.Json.dll" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmp09935A19E62F557F1283D8B2856AAFF4" Guid="3D71C0B3-39A5-4114-888F-0C186B4584A8">
                <File Id="filB3467F5442DD3EF32A3C43894512D9CC" KeyPath="yes" Source="$(var.M4BSourceDir)\Ninject.dll" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmp2EC731CFD13A379B90F06F28976E8100" Guid="56EC3E18-2081-4CA0-8DB1-2C35853DD971">
                <File Id="filE965B020EB93F46360C7D3024F819514" KeyPath="yes" Source="$(var.M4BSourceDir)\Npgsql.dll" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmpECDE56C89508227011FAE08A4AB025F0" Guid="8C7A6189-4A74-4462-9FEE-CF5FBE844AC4">
                <File Id="fil2268E63F8CA05EC264516B25F97D761E" KeyPath="yes" Source="$(var.M4BSourceDir)\Nustache.Core.dll" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmp2E10E6C834ED32E8C35D9BAEF5881988" Guid="EB4CB18A-725D-4C42-9004-A6844E2B574D">
                <File Id="fil5BABE1C792EB5B637C8C92F09270F401" KeyPath="yes" Source="$(var.M4BSourceDir)\ProvisioningConfigurator.dll" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmpDA70C4EB2033DAE17BAFD422DACC539A" Guid="2C392ED6-E9BF-480E-8303-2BA3929DB4FC">
                <File Id="fil68E34D8AB8D6C3245DED1250960E0358" KeyPath="yes" Source="$(var.M4BSourceDir)\SailorsPromises.dll" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmpD249DAB5A39ECC97DFD997BB012C6577" Guid="39D8AEB0-04A7-4649-938D-72FD6D31C0E1">
                <File Id="filBDD311EBA63985BD35F6D1289C73BDDD" KeyPath="yes" Source="$(var.M4BSourceDir)\YamlDotNet.dll" ProcessorArchitecture="msil" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ProductComponents">
            <ComponentRef Id="cmpD3152F19D34BA7C70190D15EEFDA3024" />
            <ComponentRef Id="cmp50E11A5A68F2382207442BFC58CFE7C6" />
            <ComponentRef Id="cmp8F5C2F900AC5532E3BF07B6514F520B1" />
            <ComponentRef Id="cmp9911AF95ADC7A148BBB5C669B4DAC3E2" />
            <ComponentRef Id="cmp763CAB7A6D037F9280A15E3D4DC7C156" />
            <ComponentRef Id="cmpE5C01B5677C30D575CC15B4B558A57E0" />
            <ComponentRef Id="cmp626C37DEC83FABEE8B9B7EA4A04B4F5A" />
            <ComponentRef Id="cmp390026EB15EE0696EB37503F4A399A76" />
            <ComponentRef Id="cmpFF7A3CDB5B7BE431942B830AD2C44562" />
            <ComponentRef Id="cmpD6888565DF77E6A16BDC8A36671C67B7" />
            <ComponentRef Id="cmp8B516EF1CA553709E2F2B4E287CBB338" />
            <ComponentRef Id="cmpE85F25892E4D40F52D00BE228C007591" />
            <ComponentRef Id="cmp25B2D667AC87066E928EE3A03F5C5063" />
            <ComponentRef Id="cmp8DB66F73A027CE8DE9603897B52D54C0" />
            <ComponentRef Id="cmpCC3CF2ADC9DD78B7009DAD5F9F4754C8" />
            <ComponentRef Id="cmp218F58E796F34D9FD362466EA14E66F7" />
            <ComponentRef Id="cmpE48528C4F5932A4EFD89F7331108F45D" />
            <ComponentRef Id="cmp09935A19E62F557F1283D8B2856AAFF4" />
            <ComponentRef Id="cmp2EC731CFD13A379B90F06F28976E8100" />
            <ComponentRef Id="cmpECDE56C89508227011FAE08A4AB025F0" />
            <ComponentRef Id="cmp2E10E6C834ED32E8C35D9BAEF5881988" />
            <ComponentRef Id="cmpDA70C4EB2033DAE17BAFD422DACC539A" />
            <ComponentRef Id="cmpD249DAB5A39ECC97DFD997BB012C6577" />
        </ComponentGroup>
    </Fragment>
</Wix>