<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLLOCATION">
            <Component Id="cmp50E11A5A68F2382207442BFC58CFE7C6" Guid="F5D52A1B-7453-4EB4-BE03-5AAE4913F67D">
                <File Id="fil94CDF9510AE961FB6E332896CD6ABAC1" KeyPath="yes" Source="$(var.M4BSourceDir)\Colorful.Console.dll" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmp8F5C2F900AC5532E3BF07B6514F520B1" Guid="A4ABDE4C-7CEE-49CC-9EB5-4DCDDD7B97B3">
                <File Id="filCE360A9C65C2C091E7F1C6E751E4D071" KeyPath="yes" Source="$(var.M4BSourceDir)\DocumentFormat.OpenXml.dll" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmp763CAB7A6D037F9280A15E3D4DC7C156" Guid="833A799F-FF56-48F0-97B9-A5049ADACD51">
                <File Id="filEA292C3400BD1DC19F94FA65B2059BCB" KeyPath="yes" Source="$(var.M4BSourceDir)\ICSharpCode.NRefactory.dll" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmp626C37DEC83FABEE8B9B7EA4A04B4F5A" Guid="A403D905-FE85-413D-8F56-4A958369EEDA">
                <File Id="fil728B67FAB1E67E68DC712216B11F40C3" KeyPath="yes" Source="$(var.M4BSourceDir)\Mago4Butler.BL.dll" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmp390026EB15EE0696EB37503F4A399A76" Guid="E9275F10-5210-43CE-8288-8598ADFA6DC3">
                <File Id="filB779D55293480C349EF5D6ACAFBEA873" KeyPath="yes" Source="$(var.M4BSourceDir)\Mago4Butler.exe" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmpFF7A3CDB5B7BE431942B830AD2C44562" Guid="AB97AE6B-659D-477C-9CB2-89675ED9826A">
                <File Id="fil82E2871515F7998D3B5FB853063755EA" KeyPath="yes" Source="$(var.M4BSourceDir)\Mago4Butler.exe.config" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmpD6888565DF77E6A16BDC8A36671C67B7" Guid="D2CA4A9D-093C-4BB6-A476-76FC7F75BB43">
                <File Id="fil7C9B22C18B2360BD2207F9F2D3FF4FBA" KeyPath="yes" Source="$(var.M4BSourceDir)\Mago4Butler.Plugins.dll" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmp8B516EF1CA553709E2F2B4E287CBB338" Guid="FB6D9808-B1A7-4F96-B881-182D48F0171D">
                <File Id="filEA0B512CDB70803B6C6BAC92F16C7ABF" KeyPath="yes" Source="$(var.M4BSourceDir)\Microarea.TaskBuilderNet.Core.dll" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmpE85F25892E4D40F52D00BE228C007591" Guid="135AA664-12BE-4A69-9415-97783C338B60">
                <File Id="fil023740DB2CB4D266A6A78010903112D6" KeyPath="yes" Source="$(var.M4BSourceDir)\Microarea.TaskBuilderNet.Core.XmlSerializers.dll" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmp25B2D667AC87066E928EE3A03F5C5063" Guid="2C4E6CBA-1EEA-4087-ADFF-4FE986679BD7">
                <File Id="filFF8C6E1E6E4CE1DDE16B974F540CCA12" KeyPath="yes" Source="$(var.M4BSourceDir)\Microarea.TaskBuilderNet.Data.dll" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmp8DB66F73A027CE8DE9603897B52D54C0" Guid="29E96C0E-B864-46AA-B496-0BA43ECCE3AB">
                <File Id="filC40625A077A4F9C4E003071C54304359" KeyPath="yes" Source="$(var.M4BSourceDir)\Microarea.TaskBuilderNet.Interfaces.dll" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmpCC3CF2ADC9DD78B7009DAD5F9F4754C8" Guid="30199434-092A-4847-A118-E5F2F5B5FDB7">
                <File Id="fil17F1FD38431B5ABF7ACE85A3059FB2FB" KeyPath="yes" Source="$(var.M4BSourceDir)\Microsoft.Web.Administration.dll" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmp218F58E796F34D9FD362466EA14E66F7" Guid="4BBF5AD3-46B8-40BA-83AE-4BB3846B19E7">
                <File Id="filE5AE4B6502043B9992586FFCCBD76260" KeyPath="yes" Source="$(var.M4BSourceDir)\Mono.Security.dll" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmpE48528C4F5932A4EFD89F7331108F45D" Guid="1688A060-B354-4542-B818-C0CD6B7E4E73">
                <File Id="filF1B84C2C6BCC693224B7A7959445B74F" KeyPath="yes" Source="$(var.M4BSourceDir)\Newtonsoft.Json.dll" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmp09935A19E62F557F1283D8B2856AAFF4" Guid="98C8A3FA-52FC-43EB-B122-0260CE52113D">
                <File Id="filB3467F5442DD3EF32A3C43894512D9CC" KeyPath="yes" Source="$(var.M4BSourceDir)\Ninject.dll" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmp2EC731CFD13A379B90F06F28976E8100" Guid="99EE3BC9-DB91-4DA3-BD0E-10FD86884BC4">
                <File Id="filE965B020EB93F46360C7D3024F819514" KeyPath="yes" Source="$(var.M4BSourceDir)\Npgsql.dll" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmpECDE56C89508227011FAE08A4AB025F0" Guid="9B9DAD49-8E53-4AB1-95B7-989754E06CBD">
                <File Id="fil2268E63F8CA05EC264516B25F97D761E" KeyPath="yes" Source="$(var.M4BSourceDir)\Nustache.Core.dll" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmp2E10E6C834ED32E8C35D9BAEF5881988" Guid="94076531-03F9-40A8-BCF9-3746DB269FCB">
                <File Id="fil5BABE1C792EB5B637C8C92F09270F401" KeyPath="yes" Source="$(var.M4BSourceDir)\ProvisioningConfigurator.dll" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmpDA70C4EB2033DAE17BAFD422DACC539A" Guid="980299D7-CB43-4D4A-AF33-4F2DC1EAD4F1">
                <File Id="fil68E34D8AB8D6C3245DED1250960E0358" KeyPath="yes" Source="$(var.M4BSourceDir)\SailorsPromises.dll" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmp6A320E2C91296629A90E21C98D756483" Guid="164E580B-2858-443F-87F0-9B693ACEC406">
                <File Id="filC67A6147B2C9AB3986D2C2BA357BBFB4" KeyPath="yes" Source="$(var.M4BSourceDir)\ServiceStack.Text.dll" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmp203EEFD6302E2B5C16B806D0DCAA55CF" Guid="E5CEBA96-7090-44AB-BFD9-DD88C779D268">
                <File Id="fil3318F7A221A905B8A78F21D9C82D648F" KeyPath="yes" Source="$(var.M4BSourceDir)\TBIISXSocket.dll.config" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmp8E20DB97C45FC4BAA10029AA2DC55BC0" Guid="00E52938-BE3A-4FB3-8E21-56D2F041250C">
                <File Id="fil307F5439B5CF58D7DFB1F64F45590D32" KeyPath="yes" Source="$(var.M4BSourceDir)\XSockets.Client40.dll" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmp21B44DCA3446A227CBB8136BA2E40AA0" Guid="BA8AD941-6D35-460F-BD5B-C2F59EB80B02">
                <File Id="filAD37DCC18DA1CA14E75F3ECA7691F3EF" KeyPath="yes" Source="$(var.M4BSourceDir)\XSockets.Core.Common.dll" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmpB3BA4FE8FB4DFB66ED6F00BF79A9E34D" Guid="F634EC94-1D05-46C2-A95A-2D9DC3E0E910">
                <File Id="fil64AAD9E0FA11DB948C791DC0FE2CD4F0" KeyPath="yes" Source="$(var.M4BSourceDir)\XSockets.Core.dll" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmp83FB1729BDD477DE936FB81581C2D064" Guid="CB7E71FE-F0D0-46DF-BC44-E5A83F24BA68">
                <File Id="fil8F39DEF07F7427825801FADC7E4470B0" KeyPath="yes" Source="$(var.M4BSourceDir)\XSockets.Plugin.Framework.dll" ProcessorArchitecture="msil" />
            </Component>
            <Component Id="cmpD249DAB5A39ECC97DFD997BB012C6577" Guid="F68ABD05-A21D-4ACA-A97C-50AFE1B9A8A4">
                <File Id="filBDD311EBA63985BD35F6D1289C73BDDD" KeyPath="yes" Source="$(var.M4BSourceDir)\YamlDotNet.dll" ProcessorArchitecture="msil" />
            </Component>
            <Directory Id="dir1E706DA2D4AB01ADDCB2DF6A8B098B1A" Name="bg-BG" />
            <Directory Id="dir25ABA09521CBABC366078C8739AA8B93" Name="de-CH" />
            <Directory Id="dir7500F37BEC881AC7E1E43E22FB67C019" Name="el-GR" />
            <Directory Id="dirCC0A0D5A18E10545996D4343BB5B33CF" Name="es-CL" />
            <Directory Id="dir5A8FF768A53856B50BE3634FEBDBFC90" Name="fr-FR" />
            <Directory Id="dir2537DF2DD82F64BF5D3374B3555008D4" Name="hr-HR" />
            <Directory Id="dir6946E6D35619AA5F391ADB58B07EDA18" Name="hu-HU" />
            <Directory Id="dir2A5C94700CD8BC84060D00F601E69BD5" Name="it-CH" />
            <Directory Id="dir60D06C35466BF636BC2FC19B2833DF73" Name="it-IT" />
            <Directory Id="dir1DD706DAD7C3B384229A226043C535DF" Name="pl-PL" />
            <Directory Id="dir018DA28F958AD633693D708EED8737E4" Name="pt-BR" />
            <Directory Id="dir5BD72B99E06B2F54118E1DFE617A44AF" Name="ro-RO" />
            <Directory Id="dirD3216BFA474AE5EABFA67B115D774A46" Name="ru-RU" />
            <Directory Id="dir60A2AAA54E0771F25DF1BDB8D4B54214" Name="sl-SI" />
            <Directory Id="dirD6161CF1D9EE271DBE85D1F0B8329F4F" Name="sr-Cyrl" />
            <Directory Id="dirEAA091970954F2AB8C7185ABA993AA15" Name="sr-Latn" />
            <Directory Id="dirA830FDB6BB1B523328749D0C527A8148" Name="tr-TR" />
            <Directory Id="dir874551C657296E2761FBAE6E010BC714" Name="zh-CHS" />
            <Directory Id="dirBFF753302937B131B4B1C60E2849F12A" Name="zh-CHT" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ProductComponents">
            <ComponentRef Id="cmp50E11A5A68F2382207442BFC58CFE7C6" />
            <ComponentRef Id="cmp8F5C2F900AC5532E3BF07B6514F520B1" />
            <ComponentRef Id="cmp763CAB7A6D037F9280A15E3D4DC7C156" />
            <ComponentRef Id="cmp626C37DEC83FABEE8B9B7EA4A04B4F5A" />
            <ComponentRef Id="cmp390026EB15EE0696EB37503F4A399A76" />
            <ComponentRef Id="cmpFF7A3CDB5B7BE431942B830AD2C44562" />
            <ComponentRef Id="cmpD6888565DF77E6A16BDC8A36671C67B7" />
            <ComponentRef Id="cmp8B516EF1CA553709E2F2B4E287CBB338" />
            <ComponentRef Id="cmpE85F25892E4D40F52D00BE228C007591" />
            <ComponentRef Id="cmp25B2D667AC87066E928EE3A03F5C5063" />
            <ComponentRef Id="cmp8DB66F73A027CE8DE9603897B52D54C0" />
            <ComponentRef Id="cmpCC3CF2ADC9DD78B7009DAD5F9F4754C8" />
            <ComponentRef Id="cmp218F58E796F34D9FD362466EA14E66F7" />
            <ComponentRef Id="cmpE48528C4F5932A4EFD89F7331108F45D" />
            <ComponentRef Id="cmp09935A19E62F557F1283D8B2856AAFF4" />
            <ComponentRef Id="cmp2EC731CFD13A379B90F06F28976E8100" />
            <ComponentRef Id="cmpECDE56C89508227011FAE08A4AB025F0" />
            <ComponentRef Id="cmp2E10E6C834ED32E8C35D9BAEF5881988" />
            <ComponentRef Id="cmpDA70C4EB2033DAE17BAFD422DACC539A" />
            <ComponentRef Id="cmp6A320E2C91296629A90E21C98D756483" />
            <ComponentRef Id="cmp203EEFD6302E2B5C16B806D0DCAA55CF" />
            <ComponentRef Id="cmp8E20DB97C45FC4BAA10029AA2DC55BC0" />
            <ComponentRef Id="cmp21B44DCA3446A227CBB8136BA2E40AA0" />
            <ComponentRef Id="cmpB3BA4FE8FB4DFB66ED6F00BF79A9E34D" />
            <ComponentRef Id="cmp83FB1729BDD477DE936FB81581C2D064" />
            <ComponentRef Id="cmpD249DAB5A39ECC97DFD997BB012C6577" />
        </ComponentGroup>
    </Fragment>
</Wix>