<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	
    <Product
      Id="*"
      Name="Mago4 Butler"
      Language="1033"
      Version="$(var.ProductVersion)"
      Manufacturer="Microarea"
      UpgradeCode="764d7af8-bc01-4a88-82a5-d6eed6e2196e"
      >
		<Package
      InstallerVersion="200"
      Compressed="yes"
      InstallScope="perMachine"
      InstallPrivileges="elevated"
      Manufacturer="Microarea S.p.A."
      />

    <CustomAction Id="LaunchApplication"
                  Directory="INSTALLLOCATION"
                  ExeCommand="[INSTALLLOCATION]\Mago4Butler.exe"
                  Return="asyncNoWait"
                  Impersonate="yes" />

      <InstallExecuteSequence>
        <Custom Action="LaunchApplication" After="InstallFinalize"></Custom>
      </InstallExecuteSequence>

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<Media Id="1" Cabinet="Mago4ButlerSetup.cab" CompressionLevel="high" EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="Mago4Butler" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="DesktopShortcutComponent" />
      <ComponentRef Id="ProgramMenuFolderComponent" />
		</Feature>

    <Icon Id="IconId" SourceFile="../Mago4Butler/img/Logo.ico" />
    <Property Id="ARPPRODUCTICON" Value="IconId" />
    <Property Id="ARPHELPLINK" Value="http://www.microarea.it" />
	</Product>
  

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
      
      <Directory Id="DesktopFolder" Name="DesktopFolder">
        <Component Id="DesktopShortcutComponent" DiskId="1" Guid="0BEA19D8-EBAF-40C5-9146-5B45966D1AE8">
          <Shortcut Id="_6" Name="Mago4 Butler" Target="[INSTALLLOCATION]\Mago4Butler.exe" WorkingDirectory="INSTALLFOLDER" />
          <RemoveFolder Id="DesktopFolder" On="uninstall"/>
          <RegistryValue Name="Mago4ButlerDSC installed" Root="HKCU" Key="SOFTWARE\Microarea\Mago4Butler"
                         Value="1" Type="integer" KeyPath="yes" />
        </Component>
      </Directory>
      
      <Directory Id="ProgramMenuFolder" Name="ProgramMenuFolder">
        <Directory Id="MicroareaProgramsFolder" Name="Microarea">
            <Component Id="ProgramMenuFolderComponent" DiskId="1" Guid="A5FA6B44-6A7A-4097-AAD3-6FC61F2EA961">
              <Shortcut Id="_4" Name="Mago4 Butler" Target="[INSTALLLOCATION]\Mago4Butler.exe" WorkingDirectory="INSTALLFOLDER" />
              <RemoveFolder Id="MicroareaProgramsFolder" On="uninstall" />
              <RegistryValue Name="Mago4ButlerPFSC installed" Root="HKCU" Key="SOFTWARE\Microarea\Mago4Butler"
                         Value="1" Type="integer" KeyPath="yes" />
            </Component>
          </Directory>
        </Directory>

			  <Directory Id="ProgramFilesFolder">
				  <Directory Id="INSTALLLOCATION" Name="Mago4Butler" />
			  </Directory>
      
      </Directory>
	</Fragment>
</Wix>