<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	
    <Product
      Id="*"
      Name="Mago4Butler"
      Language="1033"
      Version="$(var.ProductVersion)"
      Manufacturer="Microarea"
      UpgradeCode="764d7af8-bc01-4a88-82a5-d6eed6e2196e"
      >
		<Package
      InstallerVersion="200"
      Compressed="yes"
      InstallScope="perMachine"
      InstallPrivileges="elevated"
      Manufacturer="Microarea S.p.A."
      />

    <CustomAction Id="LaunchApplication"
                  Directory="INSTALLFOLDER"
                  ExeCommand="[INSTALLFOLDER]\Mago4Butler.exe"
                  Return="asyncNoWait"
                  Impersonate="yes" />

      <InstallExecuteSequence>
        <Custom Action="LaunchApplication" After="InstallFinalize"></Custom>
      </InstallExecuteSequence>

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<Media Id="1" Cabinet="Mago4ButlerSetup.cab" CompressionLevel="high" EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="Mago4Butler" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="DesktopShortcutComponent" />
      <ComponentRef Id="ProgramMenuFolderComponent" />
		</Feature>

    <Icon Id="IconId" SourceFile="../Mago4Butler/img/Logo.ico" />
    <Property Id="ARPPRODUCTICON" Value="IconId" />
    <Property Id="ARPHELPLINK" Value="http://www.microarea.it" />
	</Product>
  

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
      
      <Directory Id="DesktopFolder" Name="DesktopFolder">
        <Component Id="DesktopShortcutComponent" DiskId="1" Guid="0BEA19D8-EBAF-40C5-9146-5B45966D1AE8">
          <Shortcut Id="_6" Name="Mago4 Butler" Target="[INSTALLFOLDER]\Mago4Butler.exe" WorkingDirectory="INSTALLFOLDER" />
          <RemoveFolder Id="DesktopFolder" On="uninstall"/>
          <RegistryValue Name="Mago4ButlerDSC installed" Root="HKCU" Key="SOFTWARE\Microarea\Mago4Butler"
                         Value="1" Type="integer" KeyPath="yes" />
        </Component>
      </Directory>
      
      <Directory Id="ProgramMenuFolder" Name="ProgramMenuFolder">
        <Directory Id="MicroareaProgramsFolder" Name="Microarea">
            <Component Id="ProgramMenuFolderComponent" DiskId="1" Guid="A5FA6B44-6A7A-4097-AAD3-6FC61F2EA961">
              <Shortcut Id="_4" Name="Mago4 Butler" Target="[INSTALLFOLDER]\Mago4Butler.exe" WorkingDirectory="INSTALLFOLDER" />
              <RemoveFolder Id="MicroareaProgramsFolder" On="uninstall" />
              <RegistryValue Name="Mago4ButlerPFSC installed" Root="HKCU" Key="SOFTWARE\Microarea\Mago4Butler"
                         Value="1" Type="integer" KeyPath="yes" />
            </Component>
          </Directory>
        </Directory>

			  <Directory Id="ProgramFilesFolder">
				  <Directory Id="INSTALLFOLDER" Name="Mago4Butler" />
			  </Directory>
      
      </Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="MicrosoftWebAdministrationdllComponent" Guid="64EA7548-F4C8-4328-A425-B66739613929" DiskId="1">
        <File Id="MicrosoftWebAdministrationdllFile" Checksum="yes" Source="$(var.Mago4Butler.TargetDir)\Microsoft.Web.Administration.dll" />
      </Component>
      <Component Id="Mago4ButlerCmdexeconfigComponent" Guid="EDE99890-6334-4E98-A167-19069D17B449" DiskId="1">
        <File Id="Mago4ButlerCmdexeconfigFile" Checksum="yes" Source="$(var.Mago4Butler.TargetDir)\Mago4Butler.Cmd.exe.config" />
      </Component>
      <Component Id="Mago4ButlerexeconfigComponent" Guid="C01DE042-EB02-42A4-9AB6-3841E1482407" DiskId="1">
        <File Id="Mago4ButlerexeconfigFile" Checksum="yes" Source="$(var.Mago4Butler.TargetDir)\Mago4Butler.exe.config" />
      </Component>
      <Component Id="Mago4ButlerexeComponent" Guid="B8C5CC62-8702-4761-8FEF-473E98A75315" DiskId="1">
        <File Id="Mago4ButlerexeFile" Checksum="yes" Source="$(var.Mago4Butler.TargetDir)\Mago4Butler.exe" />
      </Component>
      <Component Id="Mago4ButlerCmdexeComponent" Guid="B114A002-FCBD-4491-9D4F-6CA958B22FEB" DiskId="1">
        <File Id="Mago4ButlerCmdexeFile" Checksum="yes" Source="$(var.Mago4Butler.TargetDir)\Mago4Butler.Cmd.exe" />
      </Component>
			<Component Id="Mago4ButlerBLdllComponent" Guid="921AB522-287E-4C2A-BC64-83486F695CF6" DiskId="1">
        <File Id="Mago4ButlerBLdllFile" Checksum="yes" Source="$(var.Mago4Butler.TargetDir)\Mago4Butler.BL.dll" />
      </Component>
      <Component Id="ColorfulConsoledllComponent" Guid="7D09A473-1B75-44BD-8C03-790123EB91F0" DiskId="1">
        <File Id="ColorfulConsoledllFile" Checksum="yes" Source="$(var.Mago4Butler.TargetDir)\Colorful.Console.dll" />
      </Component>
		</ComponentGroup>
	</Fragment>
</Wix>