<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MsiClassicModePlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MsiClassicModePlugin.Properties.Settings>
            <setting name="ClassicApplicationPoolPipeline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoEveryone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoShares" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoShortcuts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SkipClickOnceDeployer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoEnvVar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeepFeatures" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Italian (Italy)</string>
                        <string>TaskBuilder Framework</string>
                        <string>TaskBuilder Studio</string>
                        <string>Mago4</string>
                    </ArrayOfString>
                </value>
            </setting>
        </MsiClassicModePlugin.Properties.Settings>
    </userSettings>
</configuration>