<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Bundle
    Name="Mago4 Butler"
    Version="$(var.ProductVersion)"
    Manufacturer="Microarea"
    IconSourceFile="../Mago4Butler/img/Logo.ico"
    UpgradeCode="764d7af8-bc01-4a88-82a5-d6eed6e2196e"
    Compressed="yes"
    >

    <util:FileSearchRef Id="GetVC12X86onX64Exists"/>
    <util:FileSearchRef Id="GetVC12X86onX64Version"/>
    <util:FileSearchRef Id="GetVC12X86onX86Exists"/>
    <util:FileSearchRef Id="GetVC12X86onX86Version"/>

    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
      <bal:WixStandardBootstrapperApplication
          LicenseUrl=""
          ShowVersion="yes"
          SuppressOptionsUI="yes"
          LogoFile="../Mago4Butler/img/Logo.png"
          ThemeFile="customtheme.xml"
        />
    </BootstrapperApplicationRef>

		<Chain>
      <ExePackage
          Cache="no"
          Compressed="yes"
          PerMachine="yes"
          Permanent="yes"
          Description="This package installs Microsoft Visual C++ Runtime 2013 x86"
          DisplayName="Microsoft Visual C++ Runtime 2013 x86"
          Id="MVCPP2013X86"
          SourceFile=".\res\vcredist_x86.exe"
          Vital="yes"
          InstallCommand="/install /quiet /norestart"
          DetectCondition="vc12x86Exists AND vc12x86Version &gt;= 12"
          Name="res\vcredist_x86.exe"
          >
        <!-- -->
        <ExitCode Value="3010" Behavior="forceReboot"/>
        <!-- Ignore "Newer version installed" error -->
        <ExitCode Value="1638" Behavior="success"/>
      </ExePackage>
      <MsiPackage
          Compressed="yes"
          Description="This package installs Mago4 Butler"
          DisplayInternalUI="no"
          DisplayName="Mago4 Butler Setup"
          ForcePerMachine="yes"
          Id="Mago4ButlerMsi"
          SourceFile="..\Mago4ButlerWithPluginsSetup\bin\Release\Mago4ButlerWithPluginsSetup.msi"
          Vital="yes"
          />
		</Chain>
	</Bundle>
  <Fragment>
    <!-- Detect existing version of VC ++ 2013 x86 libraries -->
    <util:FileSearch Id="GetVC12X86onX64Exists" Condition="VersionNT64" Variable="vc12x86Exists" Path="[System64Folder]vcruntime120.dll" Result="exists"/>
    <util:FileSearch Id="GetVC12X86onX64Version" Condition="VersionNT64" Variable="vc12x86Version" Path="[System64Folder]vcruntime120.dll" Result="version"/>
    <util:FileSearch Id="GetVC12X86onX86Exists" Condition="NOT VersionNT64" Variable="vc12x86Exists" Path="[SystemFolder]vcruntime120.dll" Result="exists"/>
    <util:FileSearch Id="GetVC12X86onX86Version" Condition="NOT VersionNT64" Variable="vc12x86Version" Path="[SystemFolder]vcruntime120.dll" Result="version"/>
  </Fragment>
</Wix>
